# Pattern Printing

In [20]:
num = int(input("Enter no.of Stars"))
for i in range (1,num+1):
    for j in range(num-i):
        print(" " , end="")
    for k in range(1,2*i):
        print("*", end="")
    print(" ")

Enter no.of Stars 5

    *
   ***
  *****
 *******
*********

# Tuple

In [23]:
tuple1=("mercury","venus","mars","earth","jupiter","saturn","uranaus","neptune")

In [25]:
tuple1

('mercury',
 'venus',
 'mars',
 'earth',
 'jupiter',
 'saturn',
 'uranaus',
 'neptune')

In [29]:
t[2]="moon"

NameError: name 't' is not defined

In [31]:
list1=['mercury','mars','jupiter','saturn','uranaus']

In [33]:
list1

['mercury', 'mars', 'jupiter', 'saturn', 'uranaus']

In [39]:
t1=(5,)

In [43]:
t1?

Type:        tuple
String form: (5,)
Length:      1
Docstring:
Built-in immutable sequence.

If no argument is given, the constructor returns an empty tuple.
If iterable is specified the tuple is initialized from iterable's items.

If the argument is a tuple, the return value is the same object.

In [49]:
list1[2]="moon"

In [51]:
list1

['mercury', 'mars', 'moon', 'saturn', 'uranaus']

In [53]:
type(t1)

tuple

In [55]:
t2=()

In [57]:
t2

()

# How to make a Tuple mutable (by making list in tuple)

In [62]:
fruits = (['orange','mango'],"banana","papaya","cherry","apple")

In [64]:
fruits

(['orange', 'mango'], 'banana', 'papaya', 'cherry', 'apple')

# List will be treated AS a single element

In [69]:
fruits[0]

['orange', 'mango']

# Wants to write other name in the list value

In [72]:
fruits[0][0]='guvava'

In [74]:
fruits

(['guvava', 'mango'], 'banana', 'papaya', 'cherry', 'apple')

In [76]:
fruits[3]="pineapple'

SyntaxError: unterminated string literal (detected at line 1) (1599343846.py, line 1)

In [78]:
# the items inn the tuple will not change but the item in the list will change .. also we can making changeable by making th elist in the tuple

# Unpacking of tuple

In [81]:
for i in fruits:
    print(i)

['guvava', 'mango']
banana
papaya
cherry
apple

In [83]:
fruits.count('papaya')

1

In [87]:
fruits.index('papaya')

2

In [89]:
price=(120,140,200)

In [91]:
fruits_price=fruits+price

In [93]:
fruits_price

(['guvava', 'mango'], 'banana', 'papaya', 'cherry', 'apple', 120, 140, 200)

In [95]:
fruits_price.index(['guvava', 'mango'])

0

# Dictionary is set to the data in key: value pair format

In [124]:
fruits={'Apple':120,
        'Mango':80,
        'Orange':100,
        'Melon':40,
       }

In [126]:
fruits

{'Apple': 120, 'Mango': 80, 'Orange': 100, 'Melon': 40}

# Update dictionary

In [128]:
fruits['Apple']=140

In [130]:
fruits

{'Apple': 140, 'Mango': 80, 'Orange': 100, 'Melon': 40}

# Accessing data items from  Dictionary(only key value will be printed)

In [133]:
for i in fruits:
    print(i)

Apple
Mango
Orange
Melon

# Accessing values of Dictionary

In [138]:
for i in fruits:
    print(fruits[i])

140
80
100
40

# Accessing Value as well as Key from the Dictionary

In [156]:
for key, value in fruits.items():
    print(key,value)

Apple 140
Mango 80
Orange 100
Melon 40

In [158]:
fruits.keys()

dict_keys(['Apple', 'Mango', 'Orange', 'Melon'])

In [160]:
fruits.values()

dict_values([140, 80, 100, 40])

In [164]:
fruits.items()

dict_items([('Apple', 140), ('Mango', 80), ('Orange', 100), ('Melon', 40)])

# Creating empty dictionary

In [167]:
empty={}

In [169]:
empty

{}

In [181]:
name = input("Enter your name")
freq ={}
for i in name:
    if i not in freq:
        freq[i]=1
    else:
        freq[i]=+1
print(freq)

Enter your name Kanika Budhiraja

{'K': 1, 'a': 1, 'n': 1, 'i': 1, 'k': 1, ' ': 1, 'B': 1, 'u': 1, 'd': 1, 'h': 1, 'r': 1, 'j': 1}