In [6]:
#MERGING dATAFRAME
# inner -- intersection
# outer --Union
# left
# right
# cross

In [15]:
import pandas as pd
import numpy as np

In [17]:
dict1 = {
    'emp_id':[1001,1002,1003,1004],
    'name':['Kanika','Manvey','kajal','Priya'],
    'age':[18,19,19,20]
}
dict1

{'emp_id': [1001, 1002, 1003, 1004],
 'name': ['Kanika', 'Manvey', 'kajal', 'Priya'],
 'age': [18, 19, 19, 20]}

In [19]:
df1= pd.DataFrame(dict1)
df1

   emp_id    name  age
0    1001  Kanika   18
1    1002  Manvey   19
2    1003   kajal   19
3    1004   Priya   20

In [74]:
dict2 ={
    'emp_id':[1001,1002,1005,1006],
    'sal':[200000,40000,30000,12000],
    'address':['Pune','Dubai','Chandigarh']
}
dict2

{'emp_id': [1001, 1002, 1005, 1006],
 'sal': [200000, 40000, 30000, 12000],
 'address': ['Pune', 'Dubai', 'Chandigarh']}

In [76]:
df2 = pd.DataFrame(dict2)
df2

ValueError: All arrays must be of the same length

# inner merge

In [26]:
pd.merge(df1,df2, on='emp_id')

NameError: name 'df2' is not defined

# outer merge

In [29]:
pd.merge(df1,df2, how='outer',on='emp_id')

NameError: name 'df2' is not defined

# left merge

In [32]:
pd.merge(df1,df2, how='left',on ='emp_id' ,suffixes = ('_x', '_y'))

NameError: name 'df2' is not defined

In [34]:
pd.merge(df1,df2,how='right',on='emp_id', suffixes =("_x" ,"_y"))

NameError: name 'df2' is not defined

# right merge up

# cross merge

In [38]:
pd.merge(df1,df2, how='cross')

NameError: name 'df2' is not defined

In [41]:
import datetime as dt

In [43]:
today = dt.date(2024 , 7, 4)

In [45]:
today

datetime.date(2024, 7, 4)

In [47]:
today.day

4

In [49]:
today.month

7

In [51]:
today.year

2024

In [53]:
today = dt.datetime(2024,7,4,10,38,45)

In [55]:
today

datetime.datetime(2024, 7, 4, 10, 38, 45)

In [57]:
pd.Timestamp("2024/07/04 10:41:30")

Timestamp('2024-07-04 10:41:30')

In [59]:
dateindex=pd.DatetimeIndex(['2024/07/04','2024/07/03','2024/07/02','2024/07/01'])

In [61]:
temp=[35,37,38,39]

In [63]:
temp_day= pd.Series(data = dateindex, index = temp)

In [65]:
print(temp_day)

35   2024-07-04
37   2024-07-03
38   2024-07-02
39   2024-07-01
dtype: datetime64[ns]

In [68]:
pd.to_datetime(['july 4 2024' ,'2024/07/4' ,'6th dec 2023' ,'today'],infer_datetime_format= True , errors = 'ignore')

C:\Users\kanik\AppData\Local\Temp\ipykernel_11164\3853082976.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  pd.to_datetime(['july 4 2024' ,'2024/07/4' ,'6th dec 2023' ,'today'],infer_datetime_format= True , errors = 'ignore')
C:\Users\kanik\AppData\Local\Temp\ipykernel_11164\3853082976.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(['july 4 2024' ,'2024/07/4' ,'6th dec 2023' ,'today'],infer_datetime_format= True , errors = 'ignore')

DatetimeIndex([       '2024-07-04 00:00:00',        '2024-07-04 00:00:00',
                      '2023-12-06 00:00:00', '2024-07-04 11:14:18.021901'],
              dtype='datetime64[ns]', freq=None)

In [81]:
pd.date_range(start='1947/08/15', end='2024/12/15', freq='D')

DatetimeIndex(['1947-08-15', '1947-08-16', '1947-08-17', '1947-08-18',
               '1947-08-19', '1947-08-20', '1947-08-21', '1947-08-22',
               '1947-08-23', '1947-08-24',
               ...
               '2024-12-06', '2024-12-07', '2024-12-08', '2024-12-09',
               '2024-12-10', '2024-12-11', '2024-12-12', '2024-12-13',
               '2024-12-14', '2024-12-15'],
              dtype='datetime64[ns]', length=28248, freq='D')

In [ ]:
pd.date_range(start='2024/07/04',e